clone:
  lfs: true

definitions:
  steps:
    - step: &build-macos
        runs-on:
          - 'self.hosted'
          - 'macos'
        name: 'Build for macOS'
        script:
          - git submodule update --recursive --init
          - brew install pkg-config
          - python3 -m pip install pygit2 boto3
          - python3 -u build.py --path-to-build build-macos --build-number $BITBUCKET_BUILD_NUMBER
    - step: &build-linux
        runs-on:
          - 'self.hosted'
          - 'linux'
        image: atlassian/default-image:4
        name: 'Build for Linux'
        script:
          - git submodule update --recursive --init
          - apt-get update -y
          - apt-get -y install build-essential cmake ninja-build pkg-config python3-pip
          - python3 -m pip install pygit2 boto3
          - python3 -u build.py --path-to-build build-linux --build-number $BITBUCKET_BUILD_NUMBER
    - step: &build-windows
        runs-on:
          - 'self.hosted'
          - 'windows'
        name: 'Build for Windows'
        script:
          - git submodule update --recursive --init
          - python -m pip install pygit2 boto3
          - python -u build.py --path-to-build build-windows --build-number "$env:BITBUCKET_BUILD_NUMBER"
    - step: &deploy-to-production
        runs-on:
          - 'self.hosted'
          - 'linux'
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
          - echo "Not yet implemented"

pipelines:
  pull-requests:
    '**':
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
  tags:
    'v*':
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
      - step: *deploy-to-production
  branches:
    main:
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
  custom:
    all:
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
    macos:
      - step: *build-macos
    windows:
      - step: *build-windows
    linux:
      - step: *build-linux

