clone:
  lfs: true

definitions:
  steps:
    - step: &build-macos
        runs-on:
          - 'self.hosted'
          - 'macos'
        name: 'Build for macOS'
        script:
          - export ASAN_OPTIONS=detect_container_overflow=0 # Disable ASAN container overflow detection
          - git submodule update --recursive --init
          - brew install pkg-config ninja
          - python3 -m pip install pygit2 boto3
          - python3 -u build.py --path-to-build build-macos --build-number $BITBUCKET_BUILD_NUMBER --asan --tsan
    - step: &build-linux
        runs-on:
          - 'self.hosted'
          - 'linux'
        image: atlassian/default-image:4
        name: 'Build for Linux'
        size: 4x # https://support.atlassian.com/bitbucket-cloud/docs/step-options/#Size
        script:
          - git submodule update --recursive --init
          - apt-get update -y
          - apt-get -y install build-essential cmake ninja-build pkg-config python3-pip
          - python3 -m pip install pygit2 boto3
          - python3 -u build.py --path-to-build build-linux --build-number $BITBUCKET_BUILD_NUMBER
    - step: &build-android
        runs-on:
          - 'self.hosted'
          - 'macos'
        name: 'Build for Android'
        script:
          - git submodule update --recursive --init
          - python3 -m pip install pygit2 boto3
          - python3 -u build.py --android --path-to-build build-android --build-number "$env:BITBUCKET_BUILD_NUMBER"
    - step: &build-windows
        runs-on:
          - 'self.hosted'
          - 'windows'
        name: 'Build for Windows'
        script:
          - git submodule update --recursive --init
          - python -m pip install pygit2 boto3
          - python -u build.py --path-to-build build-windows --build-number "$env:BITBUCKET_BUILD_NUMBER"
    - step: &build-dist
        runs-on:
          - 'self.hosted'
          - 'linux'
        image: debian:latest
        name: 'Build distribution package'
        script:
          - apt-get update && apt-get install -y git python3 python3-pip python3-pygit2 python3-boto3 python3-requests doxygen
          - git submodule update --recursive --init
          - python3 -u build.py --dist --path-to-build build-dist --build-number $BITBUCKET_BUILD_NUMBER --upload --spaces-key $SPACES_KEY --spaces-secret $SPACES_SECRET
        artifacts:
          - build-dist/*.zip
    - step: &upload-docs-to-webhost
        runs-on:
          - 'self.hosted'
          - 'linux'
        image: atlassian/default-image:4
        name: Upload docs to webhost
        deployment: production
        trigger: manual
        depends-on:
          - build-dist
        script:
          - apt-get update -y
          - apt-get -y install python3-pip
          - python3 -m pip install pygit2
          - python3 scripts/upload_docs.py --path-to-build build-dist --username $RAVENNAKIT_COM_USER --hostname $RAVENNAKIT_COM_HOST --ssh-port $RAVENNAKIT_COM_SSH_PORT --remote-path $RAVENNAKIT_COM_REMOTE_PATH

pipelines:
  pull-requests:
    '**':
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
          - step: *build-android
          - step: *build-dist
  tags:
    'v*':
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
          - step: *build-android
          - step: *build-dist
      - step: *upload-docs-to-webhost
  branches:
    main:
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
          - step: *build-android
          - step: *build-dist
  custom:
    all:
      - parallel:
          - step: *build-macos
          - step: *build-windows
          - step: *build-linux
          - step: *build-android
          - step: *build-dist
    macos:
      - step: *build-macos
    windows:
      - step: *build-windows
    linux:
      - step: *build-linux
    android:
      - step: *build-android
    dist:
      - step: *build-dist
    upload-docs:
      - step: *build-dist
      - step: *upload-docs-to-webhost
