clone:
  lfs: true

definitions:
  steps:
    - step: &build-macos
        runs-on:
          - 'self.hosted'
          - 'macos'
        name: 'Build for macOS'
        script:
          - git submodule update --recursive --init
          - brew install pkg-config
          - export PYTHONPATH="${PYTHONPATH}:$BITBUCKET_CLONE_DIR"
          - python3 -m pip install pygit2 boto3
          - python3 -u ci/build.py --path-to-build build-macos --build-number $BITBUCKET_BUILD_NUMBER
    - step: &build-windows
        runs-on:
          - 'self.hosted'
          - 'windows'
        name: 'Build for Windows'
        script:
          - git submodule update --recursive --init
          - $env:PYTHONPATH = "$env:PYTHONPATH;$env:BITBUCKET_CLONE_DIR"
          - python -m pip install pygit2 boto3
          - python -u ci/build.py --path-to-build build-windows --build-number "$env:BITBUCKET_BUILD_NUMBER"
    - step: &deploy-to-production
        runs-on:
          - 'self.hosted'
          - 'linux'
        name: Deploy to production
        deployment: production
        trigger: manual
        script:
          - echo "Not yet implemented"

pipelines:
  pull-requests:
    '**':
      - parallel:
          - step: *build-macos
          - step: *build-windows
  tags:
    'v*':
      - parallel:
          - step: *build-macos
          - step: *build-windows
      - step: *deploy-to-production
  branches:
    main:
      - parallel:
          - step: *build-macos
          - step: *build-windows
  custom:
    all:
      - parallel:
          - step: *build-macos
          - step: *build-windows
    macos:
      - step: *build-macos
    windows:
      - step: *build-windows
